<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>列表渲染</title>
</head>
<body>
<div id="div">
    <ul>
        <li v-for="name in names">
            {{name}}
        </li>
        <li v-for="value in student">
            {{value}}
        </li>
    </ul>
</div>

</body>
<script src="js/vue.js">
</script>
<script>
    new Vue(
        {
            el: "#div",
            data: {
                names: ["张三", "李四", "王五"],
                student: {
                    name: "张三",
                    age: 23
                }
            }
        }
    )
</script>

</html>
